@charset "utf-8";
/*-------------------------------------------------
Author : 김지만
Create date : 2018-07-03
-------------------------------------------------*/
@import '../mixin';
@import '../form';

#spot{height:500px; background:url('../../images/bfd/sub/img_sv01.jpg') center top / cover no-repeat; position:relative;
  .snb-title{color:#fff; @include serif; width:100%; position: absolute; top:50%; left:0; text-align: center; font-weight: 400; font-size:3.5rem; margin-top:55px;
    span{display:block; font-size:2.0rem; margin-bottom: 10px; text-transform:uppercase;}
  }
}
.cont-wrap{position:relative;}
  #snb{color:#323232; text-align: center; height:inherit;
  .nav-area{background-color: #fff; height: 50px; color:#323232; width:100%; text-align:left; font-size:0; border-bottom:1px solid #e1e1e1;
    .home{display: inline-block; vertical-align:middle; line-height: 50px; width:230px; height:50px; font-size:1.5rem; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; padding:0 30px; position: relative;
      &::after{content: ""; border-width: 1px 1px 0 0; border-color: #323232; border-style: solid; width: 8px; height:8px; position: absolute; top: 50%; margin-top: -3px; left: 110px; transform: rotate(45deg); transition:all .3s;}
    }
    nav{display:inline-block; vertical-align:middle;}
    .depth1{font-size:0;
      &>li{display:inline-block; height:inherit; font-size:1.7rem; position:relative;
        &>a{display: block; height: 50px; line-height:50px; min-width:230px; border-right:1px solid #e1e1e1; padding:0 30px; position:relative; transition:all .3s; font-size:1.5rem;
          &::after{content: ""; border-width: 1px 1px 0 0; border-color: #323232; border-style: solid; width: 8px; height:8px; position: absolute; top: 50%; margin-top: -6px; right: 24px; transform: rotate(135deg); transition:all .3s;}
        }
        .depth2{position:absolute; top:50px; left:0; width:100%; display:none; z-index:10;
          &>li{
            &>a{background-color:$main-color1; display:block; height:50px; line-height:50px; padding:0 30px; color:#fff; transition:all .3s; font-size:1.5rem;
              &:hover{background-color:darken($main-color1, 10%); color:#fff;}
            }
          }
        }
        &.active{
          &>a{background-color: $main-color1; border-color:$main-color1; color:#fff;
            .depth2{display:block;}
            &::after{transform: rotate(-45deg); border-color:#fff;}
          }
        }
      }
    }
    &.sticky{position: fixed; top: 0; width:100%; background-color:#fff; z-index:90;}
  }

}

.cont-top{text-align: center;
  .title{@include serif; padding:60px 0; font-size: 3.5rem; font-weight: 400; letter-spacing:-.05em;}
}

.tab-menu{overflow:hidden; margin:-10px; padding-bottom:50px;
  &>li{width:25%; float:left; text-align: left;
    &>a{display:block; margin:10px; border:1px solid #e7e7e7; height: 50px; line-height: 50px; color:#323232; font-weight:300; padding:0 20px; letter-spacing:-.05em; transition:all .3s; position: relative;
      &::before{font-family:'xeicon'; color:#5b5b5b; position: absolute; top:0; right:20px; content:"\e91a";}
      &:hover{color:#716454; border-color:#90816e;
        &::before{color:#716454;}
      }
    }
    &.active{
      &>a{border-color:#90816e; background-color: #90816e; color:#fff;
        &::before{color:#fff; content:"\e913"}
      }
    }
  }
}

#contents{margin-bottom:100px; min-height:1000px;
  h2.title{font-size:2.8rem; color:#333; margin-bottom: 30px; font-weight: 400; margin-top:80px;
    &:first-of-type{margin-top:0;}
    &.center{text-align: center; position: relative; margin-bottom:80px;
      &::after{@include shape(34px,1px,#000); position:absolute; bottom:-20px; left:50%; margin-left:-17px;}
    }
  }
}

/* 학부소개(공통) */
.total-intro{
  .summary{margin-bottom: 80px; height:200px; color:#fff; position: relative; background:url('../../images/bfd/sub/bg_summary.jpg') right top no-repeat;
    .sentence{position:absolute; top:50%; left:90px; transform:translateY(-50%); width:100%;
      p{margin-top:10px;
        &:first-of-type{margin-top:0;}
      }
    }
  }

  .goal-list{overflow:hidden; margin:-80px -40px 0;
    &>li{padding:0 40px; margin-top:80px;
      .inner{background:url('../../images/bfd/sub/bg_goal1.jpg') center top no-repeat; padding:250px 50px 0;
        .txt{background-color: #fff; border-top:5px solid #972430;
          strong{text-align: center; display:block; color:#8e111e; font-size:2.3rem; padding:27px 0 26px; @include serif;}
          .desc{padding:20px;
            p{color:#626262; margin-top:20px; line-height: 1.6; word-break:keep-all; letter-spacing:-.05em;
              &:first-of-type{margin-top:0;}
            }
          }
        }
      }
      &:nth-child(2) .inner{background-image:url('../../images/bfd/sub/bg_goal2.jpg');}
      &:nth-child(3) .inner{background-image:url('../../images/bfd/sub/bg_goal3.jpg');}
      &:nth-child(4) .inner{background-image:url('../../images/bfd/sub/bg_goal4.jpg');}
      &:nth-child(5) .inner{background-image:url('../../images/bfd/sub/bg_goal5.jpg');}
      &:nth-child(6) .inner{background-image:url('../../images/bfd/sub/bg_goal6.jpg');}
      &:nth-child(7) .inner{background-image:url('../../images/bfd/sub/bg_goal7.jpg');}
      &:nth-child(8) .inner{background-image:url('../../images/bfd/sub/bg_goal8.jpg');}
      &:nth-child(9) .inner{background-image:url('../../images/bfd/sub/bg_goal9.jpg');}
      &:nth-child(10) .inner{background-image:url('../../images/bfd/sub/bg_goal10.jpg');}
    }
  }

}

/* 전공소개(공통) */
.depart-intro{
  .introduce{padding:130px 50px 0; background:url('../../images/bfd/sub/bg_depart1.jpg') center top no-repeat; margin-bottom:80px;
    .row{margin:0; background-color:#fff; padding-top:40px;}
    .title{display:block; text-align: center; font-size:2.6rem; letter-spacing:-.05em;}
    .mean{color:#626262; margin-top:-30px; padding-right:40px;
      p{margin-top:30px; line-height: 1.6;
        strong{color:$main-color1; font-weight: 700;}
      }
    }
  }
}

/* 교육과정 */
.card-list{display:table; table-layout:fixed; width:calc(100% + 30px); margin-left:-15px; margin-right:-15px;
  &>li{display:table-cell;
    .card{background: #90816e; height: 310px; margin-left:15px; margin-right:15px; padding:30px; color:#fff;
      strong{display:block; margin-bottom: 20px;}
      p{font-weight:300; line-height: 1.6; font-size:1.6rem;}
    }
    &:nth-child(2) .card{background-color: #5a5f6a;}
    &:nth-child(3) .card{background-color: #4e6ba6;}
    &:nth-child(4) .card{background-color: #a68c4e;}
  }
}

.list{margin-top:-10px;
  &>li{color:#707070; font-weight:300; margin-top:10px;}
  &::after{@include clear;}
  &.dot{
    &>li{padding-left:10px; position: relative;
      &::after{@include shape(3px,3px,#000); border-radius:50%; position:absolute; top:8px; left:0;}
    }
  }
}

.table-wrap{
  table{position: relative; table-layout:fixed; line-height: 1.4;
    &::before{position: absolute; top:0; left:0; width:100%; height:2px; background-color: #8e111e; content:"";}
    thead{
      th{border:1px solid #cecece; background-color: #fafafa; color:#323232; padding:20px 30px; font-size:1.8rem;
        &:first-child{border-bottom:0;}
      }
    }
    tbody{
      th{border:1px solid #cecece; padding:20px 30px; font-size:1.5rem; color:#666;}
      td{border:1px solid #cecece; padding:20px 30px; font-size:1.5rem; color:#666;
        [class^="xi"]{color:#cecece; font-size:26px; transition:all .15s;
          &:hover{color:darken(#cecece,20%);}
        }
        &.subject{text-align: left;
          &>a{display:inline-block; vertical-align: middle;
            &:hover{text-decoration: underline;}
            &.ellipsis{@include ellipsis(90%);}
          }
        }
        .inner-table{
          thead{
            th{background-color: #8e111e; color:#fff; text-align: center;}
          }
          tbody{
            th{text-align: center;}
          }
        }
      }
    }
    &.field{
      tbody{
        th{background-color: #f6f6f6; text-align: left; color:#8e111e; font-size:1.8rem;
          .essential{position:relative;
            &::before{content:"*"; color:#ff6136; font-size:16px; font-weight: 400; position:absolute; top:0; left:-15px;}
          }
        }
      }
    }
    &.vert-top{
      tbody{
        th,
        td{vertical-align:top;}
      }
    }
    &.side-open{
      thead{
        th{
          &:first-child{border-left:0; border-bottom:0;}
          &:last-child{border-right:0;}
        }
      }
      tbody{
        th,td{
          &:first-child{border-left:0;}
          &:last-child{border-right:0;}
        }
      }
    }
    &.all-open{
      thead{
        th{border-width:0 0 1px 0;
          &:first-child{border-bottom:1px solid #cecece;}
        }
      }
      tbody{
        th,td{border-width:0 0 1px 0;

        }
      }
    }
    &.board{text-align: center;
      .new{background-color:#ff6136; color: #fff; border-radius: 50%; display: inline-block; text-align: center;
    margin-left: 5px; width: 18px; height: 18px; font-size: 1.1rem; line-height:18px; vertical-align:middle;}
    }
  }
  .note{padding:15px; font-size:1.4rem; color:#666;
    strong{color:#8e111e; font-weight: 400;}
  }
  &.scroll{overflow:auto;
    table{min-width:700px;}
  }
}

/* lagacy code */
.board-top{overflow:hidden; margin-bottom:30px; border:1px solid #e2e1e1; background-color: #f6f6f6; padding:20px 40px;}
.search_form{float:right;
  select{display: inline-block; width:auto; min-width:160px; height: 40px; padding:10px 20px; font-size: 14px; line-height: 1.42857143; color: #666; background-color: #fff; background-image: none; border: 1px solid #e0dede; font-family: "Nanum Square";}
  input[type="text"]{display: inline-block; width:auto; min-width:260px; height: 40px; padding:10px 20px; font-size: 14px; line-height: 1.42857143; color: #666; background-color: #fff; background-image: none; border: 1px solid #e0dede; font-family: "Nanum Square";}
  input[type="button"]{display: inline-block; margin-bottom: 0; font-size: 16px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; user-select: none; background-image: none; color: #fff; background:#9c8c84; transition: all .25s ease; border: 1px solid #9c8c84; padding:8px 12px 8px 12px; font-family: "Nanum Square";}
}
.articles{float:left; margin-top:10px; color:#333;
  .txt_bold{font-weight:700; color:#ff6136;}
}
.photo_type{display:none;}
.photo_list{overflow: hidden; margin-left: -15px; border-bottom: 1px solid #dcdbdb; margin-right: -15px;
  &>li{width:25%; float:left; height: 342px; padding:0 15px;
    .thumb{height:240px; background-color: #ebebeb; display:block; position: relative; overflow:hidden;
      .view{position:absolute; bottom:0; left:0; color:#fff; width:100%; height:50px; display:block; background:rgba(0,0,0,.5) url('../../images/sub/i_view.png') 25px center no-repeat; line-height: 50px;
    padding-left: 48px; font-size: 1.3rem;}
      img{height:100%; margin:0 auto; display:block; position: relative; top: 50%; left:50%; transform: translate(-50%,-50%);}
    }
    strong{display:block; color:#555; font-size:1.5rem; font-weight:200; margin:15px 0 5px; word-break: break-all; height: 36px; overflow: hidden;}
    .desc{color:#999; font-size:1.3rem; display:block;}
  }
}
.download_list{ color: #333; border-bottom: 1px solid #dcdbdb; font-weight: 400; overflow:hidden; background-color: #f6f6f6;
  h2.tit{width:20%; float:left; text-align: center; font-size:1.6rem; padding:20px;}
  ul{margin-left:20%; padding:20px; border-left:1px solid #dcdbdb; background-color: #fff;
    &>li{margin-bottom:5px;
      &>a{
        &:hover{text-decoration:underline;}
      }
    }
  }
}
.nextPrev_list{border-top: 1px solid #dcdbdb; margin-top:42px;
  &>li{color: #333; border-bottom: 1px solid #dcdbdb; font-weight: 400; overflow:hidden; background-color: #f6f6f6;
    strong{width:20%; float:left; text-align: center; font-size:1.6rem; padding:20px;}
    a{margin-left:20%; padding:20px; border-left:1px solid #dcdbdb; background-color: #fff; display:block;
      &:hover{text-decoration: underline;}
    }
  }
}


/* pager */
$btnActive:#8e111e;

.pager{text-align:center; font-size:0; margin:40px 0;
  &>a:hover{border-color:$btnActive; transition:all .3s;}
  &>a,
  & .active{display:inline-block; vertical-align:middle; width:40px; height:40px; font-size:1.5rem; color:#555; background-color: #eceff1; margin:0 2px; border:1px solid #eceff1; line-height: 40px;}
  & .active{background-color:$btnActive; border-color:$btnActive; color:#fff;}
  & a.arr{font-size:0; line-height:0; border-color:#cdcdcd; background-color: #fff; position:relative;
    &::before,&::after{font-family:'xeicon'; position:absolute; top:50%; left:50%; font-size:20px; color:#cdcdcd; height:20px; margin-top:-10px; margin-left:-10px; line-height: 1;}
    &.first::before{content:"\e93c"; left: 22px;}
    &.first::after{content:"\e93c"; left: 15px;}
    &.prev::before{content:"\e93c";}
    &.next::before{content:"\e93f";}
    &.last::before{content:"\e93f"; left: 24px;}
    &.last::after{content:"\e93f"; left: 17px;}
    &:hover{border-color:#969696; transition:all .3s;
      &::before,
      &::after{color:#969696;}
    }
  }
}

.board-view{
  .view-title{border-top:2px solid #8e111e; background-color: #f6f6f6; text-align: center; color:#333; font-size:1.8rem; border-bottom:1px solid #dcdbdb; font-weight: 400; padding:20px 15px;}
  .info{border-bottom:1px solid #dcdbdb; overflow:hidden; padding:20px;
    dt{color:#666; display:inline-block; color:#333; font-weight:700; margin-left:60px; padding-right:20px; position: relative;
      &::after{@include shape(1px,10px,#dcdbdb); position: absolute; top:4px; right:8px;}
    }
    dd{color:#666; display:inline-block;}
  }
  .view-content{border-bottom:1px solid #dcdbdb; padding:30px 60px; line-height: 1.6; font-size:1.5rem; color:#666;
    img{max-width: 100%; display: block;}
  }
}

.btns{text-align: center; margin-top: 42px;
  .btn{width:192px; height: 54px; background-color: #8e111e; color:#fff; border-color:#8e111e; border-width:2px; line-height:2.2;
    i{font-size:30px; vertical-align:middle;}
    &:hover{background-color: #fff; color:#8e111e;}
    & + .btn{background-color:#999; border-color:#999;
      &:hover{color:#999; background-color:#fff;}
    }
    &.lg{width:318px;}
  }
}




@media(max-width:1280px){
  #snb .nav-area .container{padding-left:0; padding-right:0;}

  .tab-menu>li{width:50%;}
  .total-intro .summary .sentence{left:50%; transform:translate(-50%,-50%); text-align: center; padding:0 15px;}
}

@media (max-width:992px){ /* col-sm */
  #spot{height:290px;}
  #spot .snb-title{margin-top:30px; font-size:2.8rem;}
  #spot .snb-title span{font-size:1.7rem;}
  #snb .nav-area{display:none;}

  .depart-intro .introduce{padding-left:15px; padding-right:15px; margin-bottom:40px;}
  .depart-intro .introduce .title{padding-bottom:30px;}
  .depart-intro .introduce .mean{padding-right:0;}

  .card-list{display:block;}
  .card-list>li{display:block; width:100%; margin-top:15px;}
  .card-list>li .card{height:inherit;}

}

@media (max-width:767px){
  #contents{margin-bottom:50px; min-height:inherit;}
  // .cont-top .title{padding:40px 0; font-size:2.0rem;}

  /* 공통시작 */
  .tab-menu>li{width:100%;}
  #contents h2.title{margin-top:40px;}
  .card-list>li .card{padding-left:15px; padding-right:15px;}
  .total-intro .goal-list > li{margin-top:40px;}
  .total-intro .goal-list > li .inner{padding-left:15px; padding-right:15px;}
  .total-intro .goal-list > li .inner .txt .desc{padding:15px;}

  .table-wrap colgroup{display:none;}
  .table-wrap .field tbody th,
  .table-wrap .field tbody td{display:block; padding:20px 15px;}
  .embed-wrap{margin:0 15px;}
  .embed-wrap .map-info{padding:15px;}
  .locate-list > li{padding-left:15px; padding-right:15px;}
  .locate-list > li::before{width:34px; height:34px; background-size:20px; left:10px;}
  .locate-list > li strong{padding-left:38px; display:block; margin: 6px 0px 12px;}
  .locate-list > li .btn:first-of-type{margin-left:0;}

  .blind-info{margin:0 15px;}
  .blind-info > li strong{min-height: 45px; height: 45px; line-height: 45px;}
  .blind-info > li .inner{padding:20px 15px;}

  .table-wrap.scroll table thead th,
  .table-wrap.scroll table tbody th,
  .table-wrap.scroll table tbody td{padding:10px;}

  .table-wrap .board{
    colgroup,
    thead{display:none;}
    tbody{
      tr{border-bottom:1px solid #dcdbdb; padding:15px; display: block; overflow: hidden;
        td{display:none; padding:0; border:0;
          &.subject{display:block; font-weight:700; color:#333; margin-bottom:5px;
            &>a{font-size:1.8rem;}
          }
          //예외변수
          &.date,
          &.hit,
          &.file,
          &.mission,
          &.call,{display:block; float:left; text-align:left; margin-right:16px;}
          &.mission{height: 20px; width: 70%; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
          &.floor{display: flex; float: left; margin-right: 16px;  background: #eee; width: 65px; height: 65px; border-radius: 50%; align-items: center; justify-content: center;}
          &.date::before{content:"등록일 : ";}
          &.hit::before{content:"조회수 : ";}
          &.file::before{content:"첨부파일 : ";}
          &.mission::before{content:"주요업무 : ";}
          &.call::before{content:"전화번호 : ";}
          [class^="xi"]{font-size: 16px; vertical-align: middle;}
        }
      }
    }
  }

  .system{margin:0 15px;}
  h4.title{margin-top: 30px;}
  .box-title{height:64px; line-height: 64px; margin-bottom: 30px;}
  .box-title.bg{margin-top: 30px;}
  .box-title.bg + .desc{padding:0;}
  .public-data .figure .figcaption{width:100%; padding-top:50px;}
  .public-data .figure .figcaption strong::before{width:calc(100% + 10px);}
  .public-data .figure .figcaption strong{font-size:1.8rem;}
  .public-data .figure .figcaption .url{font-size:1.6rem;}

  // .board-view .info > li{border-top:1px solid #dcdbdb;}
  // .board-view .info > li:first-child{text-align: left; border-top:none;}
  .board-view .view-content{padding:15px;}

  .board-view .info{padding:0; border-bottom:0;}
  .board-view .info dt{width:25%; border-bottom:1px solid #dcdbdb; margin-left:0; padding-right:0; padding:15px; float:left;
     border-right: 1px solid #dcdbdb; text-align: center; background:#f6f6f6;
    &::after{display:none;}
  }
  .board-view .info dd{width:75%; border-bottom:1px solid #dcdbdb; padding:15px; float:left;}
  .nextPrev_list > li a{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding:15px;}
  .download_list h2.tit,
  .nextPrev_list > li strong,
  .download_list ul{padding:15px;}
  .download_list h2.tit,
  .nextPrev_list > li strong{width:25%;}
  .download_list ul,
  .nextPrev_list > li a{margin-left:25%;}

  .btns .btn{width:46%;}
  .board-top{padding:15px;}
  .search_form select{width:100%; margin-bottom: 10px;}
  .search_form input[type="text"]{width:calc(100% - 83px); min-width:inherit;}
  .photo_list > li{padding:0 15px; height:auto; margin-bottom: 30px; width:100%;}
  .photo_list > li .thumb img{}


}
