/*-------------------------------------------------
Author : 
Create date : 
-------------------------------------------------*/
@import url(e:\Study\incheon-mice\assets\css\grid.min.css);
*:lang(en) {
  font-family: "Ubuntu", sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 116px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header::before {
  content: "";
  width: 100%;
  height: 116px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header h1 {
  position: absolute;
  top: 24px;
  left: 130px;
  z-index: 10;
}

#header .gnb-wrap {
  position: relative;
  z-index: 9;
}

#header .gnb-wrap nav {
  width: 960px;
  margin: 0 auto;
  font-weight: 500;
  text-align: center;
  font-size: 2.3rem;
  padding-top: 40px;
}

#header .gnb-wrap nav .gnb > li {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 40px;
}

#header .gnb-wrap nav .gnb > li > .menu-label {
  font-family: "S-CoreDream";
}

#header .gnb-wrap nav .gnb > li .depth2 {
  opacity: 0;
  visibility: hidden;
  min-height: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 100px;
  width: calc(960px / 5);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header .gnb-wrap nav .gnb > li .depth2 > li {
  display: block;
  font-size: 1.8rem;
  color: #555;
  margin: 0;
  padding-bottom: 15px;
}

#header .gnb-wrap nav .gnb > li .depth2 > li > a:hover {
  font-weight: 700;
  color: #006064;
}

#header .gnb-wrap nav .gnb > li.is-active > .menu-label {
  color: #006064;
}

#header .gnb-wrap .utils {
  position: absolute;
  top: 45px;
  right: 130px;
  overflow: hidden;
}

#header .gnb-wrap .utils > li {
  float: left;
  margin: 0 20px;
}

#header::after {
  content: "";
  width: 100%;
  height: 115px;
  background-color: #fff;
  position: absolute;
  top: -115px;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1);
}

#header.is-active::before {
  border-bottom-color: #7eaeb0;
}

#header.is-active::after {
  top: 116px;
  height: 200px;
}

#header.is-active .gnb-wrap nav .gnb > li .depth2 {
  opacity: 1;
  visibility: visible;
  min-height: inherit;
}

#footer {
  width: 100%;
  padding: 60px 130px 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #000;
  text-align: center;
}

#footer .rule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

#footer .rule-list > li {
  margin: 0 10px;
}

@media (max-width: 767px) {
  #footer .rule-list {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .copyright {
  margin-top: 15px;
}

@media (max-width: 767px) {
  #footer {
    border-top: 1px solid #eaeaea;
    padding: 30px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=layout.css.map */