/*-------------------------------------------------
Author : 
Create date : 
-------------------------------------------------*/
#contents section.section1 {
  height: 100vh;
}

#contents section.section1 .banner {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#contents section.section1 .banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contents section.section1 .banner .overlay-text {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  mix-blend-mode: screen;
}

#contents section.section1 .banner .overlay-text strong {
  line-height: 1;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: relative;
  top: 30px;
  font-size: 32rem;
  font-family: "S-CoreDream";
  font-weight: 900;
  letter-spacing: -2rem;
}

#contents section.section1 .banner .overlay-text strong em {
  font-size: 18rem;
  letter-spacing: 0;
}

#contents section.section1 .banner .overlay-text p {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  position: relative;
  top: 30px;
  margin-top: 70px;
  font-size: 3.5rem;
  font-family: "IncheonMICE";
  font-weight: 500;
}

#contents section.section1 .banner .overlay-text p strong {
  letter-spacing: 0;
  font-size: 4.7rem;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "IncheonMICE";
}

#contents section.section1.fade-in .banner strong {
  opacity: 1;
  top: 0;
}

#contents section.section1.fade-in .banner p {
  opacity: 1;
  top: 0;
}

#contents section.section2 {
  height: 1080px;
  background-color: #f5f5f5;
  padding-top: 230px;
}

#contents section.section2 .slogan {
  font-size: 8rem;
  font-family: "IncheonMICE";
  color: #707070;
  font-weight: 400;
  letter-spacing: -2px;
}

#contents section.section2 .slogan > span {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  left: -30px;
  opacity: 0;
  display: block;
}

#contents section.section2 .slogan > span:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#contents section.section2 .slogan > span:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#contents section.section2 .slogan > span:nth-child(3) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#contents section.section2 .slogan > span:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

#contents section.section2 .slogan strong {
  font-weight: 700;
  color: #000;
  position: relative;
}

#contents section.section2 .slogan strong span {
  position: relative;
  z-index: 2;
}

#contents section.section2 .slogan strong::before {
  content: "";
  background: url("../../images/bg_circle.gif") 0 0 no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: -40px;
}

#contents section.section2 .slogan strong::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 24px;
  background-color: #5cc2cf;
  z-index: 1;
}

#contents section.section2 .desc {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  padding-top: 370px;
  background: url("../../images/bg_section2.jpg") 0 0 no-repeat;
  color: #000;
  font-size: 3rem;
  font-family: "IncheonMICE";
  font-weight: 400;
}

#contents section.section2 .desc-title {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  position: relative;
  bottom: -30px;
  opacity: 0;
  font-weight: 700;
  font-size: 4.5rem;
  margin-bottom: 30px;
  display: block;
}

#contents section.section2 .desc p {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: relative;
  bottom: -30px;
  opacity: 0;
  line-height: 1.6;
}

#contents section.section2 .desc-btn {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  position: relative;
  bottom: -30px;
  opacity: 0;
  margin-top: 40px;
  width: 275px;
  height: 85px;
  border: 1px solid #707070;
  padding: 0 30px;
  text-align: left;
  background: url("../../images/bg_btn_arr.gif") 90% center no-repeat #f5f5f5;
}

#contents section.section2.fade-in .slogan > span {
  opacity: 1;
  left: 30px;
}

#contents section.section2.fade-in .desc {
  opacity: 1;
}

#contents section.section2.fade-in .desc-title,
#contents section.section2.fade-in .desc p, #contents section.section2.fade-in .desc-btn {
  opacity: 1;
  bottom: 0;
}

#contents section.section3 {
  padding-top: 180px;
}

#contents section.section3 .slogan {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  left: -30px;
  opacity: 0;
  font-size: 8rem;
  font-family: "IncheonMICE";
  color: #707070;
  font-weight: 400;
  letter-spacing: -2px;
}

#contents section.section3 .slogan strong {
  font-weight: 700;
  color: #000;
}

#contents section.section3 .btn-download {
  width: 254px;
  height: 257px;
  position: relative;
}

#contents section.section3 .btn-download span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.05em;
}

#contents section.section3 .btn-download span strong {
  font-weight: 700;
}

#contents section.section3 .btn-download span i {
  color: #065863;
  margin-bottom: 5px;
}

#contents section.section3 .btn-download .bg {
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

#contents section.section3 .contact-us {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  bottom: -30px;
  opacity: 0;
  margin-top: 180px;
  font-family: "IncheonMICE";
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
}

#contents section.section3 .contact-us .label {
  color: #006064;
  font-size: 4.5rem;
  font-family: "IncheonMICE";
  font-weight: 700;
}

#contents section.section3.fade-in .slogan {
  opacity: 1;
  left: 30px;
}

#contents section.section3.fade-in .contact-us {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
  bottom: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */