@charset "utf-8";
/*-------------------------------------------------
Author : 
Create date : 
-------------------------------------------------*/
@import '../mixin';
@import '../form';

.wrap-container {
  padding-top: 116px;
  height: 100vh;
  width: 1330px;
  margin: 0 auto;
}

.contents-title {
  font-size: 6.5rem;
  font-family: "IncheonMICE";
  font-weight: 900;
  line-height: 1;

  + p {
    margin-top: 20px;
    font-size: 2.2rem;
    color: #555;
  }
}

/* 로그인 */
.area-login {
  padding-top: 128px;
}
.edge-round img {
  border-radius: 0 35% 0 0;
}

.area-login-form {
  padding-left: 40px;
}

