@charset "utf-8";
/*-------------------------------------------------
Author : 김지만
Create date : 2018-07-03
-------------------------------------------------*/
@import '../mixin';
@import '../form';

#spot{height:500px; background:url('../../images/bfd/sub/img_sv01.jpg') center top / cover no-repeat; position:relative;
  .snb-title{color:#fff; @include serif; width:100%; position: absolute; top:50%; left:0; text-align: center; font-weight: 400; font-size:3.5rem; margin-top:55px;
    span{display:block; font-size:2.0rem; margin-bottom: 10px; text-transform:uppercase;}
  }
}
.cont-wrap{position:relative;}
  #snb{color:#323232; text-align: center; height:inherit;
  .nav-area{background-color: #fff; height: 50px; color:#323232; width:100%; text-align:left; font-size:0; border-bottom:1px solid #e1e1e1;
    .home{display: inline-block; vertical-align:middle; line-height: 50px; width:230px; height:50px; font-size:1.5rem; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; padding:0 30px; position: relative;
      &::after{content: ""; border-width: 1px 1px 0 0; border-color: #323232; border-style: solid; width: 8px; height:8px; position: absolute; top: 50%; margin-top: -3px; left: 110px; transform: rotate(45deg); transition:all .3s;}
    }
    nav{display:inline-block; vertical-align:middle;}
    .depth1{font-size:0;
      &>li{display:inline-block; height:inherit; font-size:1.7rem; position:relative;
        &>a{display: block; height: 50px; line-height:50px; min-width:230px; border-right:1px solid #e1e1e1; padding:0 30px; position:relative; transition:all .3s; font-size:1.5rem;
          &::after{content: ""; border-width: 1px 1px 0 0; border-color: #323232; border-style: solid; width: 8px; height:8px; position: absolute; top: 50%; margin-top: -6px; right: 24px; transform: rotate(135deg); transition:all .3s;}
        }
        .depth2{position:absolute; top:50px; left:0; width:100%; display:none; z-index:10;
          &>li{
            &>a{background-color:$main-color1; display:block; height:50px; line-height:50px; padding:0 30px; color:#fff; transition:all .3s; font-size:1.5rem;
              &:hover{background-color:darken($main-color1, 10%); color:#fff;}
            }
          }
        }
        &.active{
          &>a{background-color: $main-color1; border-color:$main-color1; color:#fff;
            .depth2{display:block;}
            &::after{transform: rotate(-45deg); border-color:#fff;}
          }
        }
      }
    }
    &.sticky{position: fixed; top: 0; width:100%; background-color:#fff; z-index:90;}
  }

}

.cont-top{text-align: center;
  .title{@include serif; padding:60px 0; font-size: 3.5rem; font-weight: 400; letter-spacing:-.05em;}
}

#contents{margin-bottom:100px; min-height:1000px;}

@media(max-width:1280px){
  #snb .nav-area .container{padding-left:0; padding-right:0;}
}

@media (max-width:992px){ /* col-sm */
  #spot{height:290px;}
  #spot .snb-title{margin-top:30px; font-size:2.8rem;}
  #spot .snb-title span{font-size:1.7rem;}
  #snb .nav-area{display:none;}
}

@media (max-width:767px){
  #contents{margin-bottom:50px; min-height:inherit;}
  // .cont-top .title{padding:40px 0; font-size:2.0rem;}
}
