@charset "utf-8";
/*-------------------------------------------------
Author : 
Create date : 
-------------------------------------------------*/
@import "../mixin";

#footer {
  padding-top: 160px;
  clear: both;
  display: block;
  width: 100%;
  padding-bottom: 80px;

  .rule-list {
    display: block;
    float: left;
    margin-left: 0;
    padding-left: 130px;

    > li {
      position: relative;
      float: left;

      &::after {
        content: '';
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #666;
        position: absolute;
        top: 50%;
        right: -11px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .copyright {
    float: right;
    margin-top: 0;
  }

}

.wrap-container {
  padding-top: 116px;
  height: 100vh;
  width: 1330px;
  margin: 0 auto;

  @media (max-width: 1330px) {
    width: 100%;
    height: inherit;
  }
}

.contents-title {
  font-size: 6.5rem;
  font-family: "IncheonMICE";
  font-weight: 900;
  line-height: 1;

  + p {
    margin-top: 20px;
    font-size: 2.2rem;
    color: #555;
    letter-spacing: -0.05em;

    + .card {
      margin-top: 80px;
    }
  }
}

.contents-title2 {
  font-size: 3rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 74px;
}

.contents-title2-desc {
  font-size: 2.0rem;
  color: #555;
  padding-top: 16px;
  display: inline-block;
  padding-left: 10px;
}

/* breadcrumb */
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 40px;
  overflow: hidden;

  &-item {
    float: left;
    padding-left: 30px;
    position: relative;

    i {
      color: #707070;
      font-size: 1.9rem;
    }

    &:first-child {
      padding-left: 0;
      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 15px;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      top: 10px;
      left: 7px;
    }

    &.active {
      color: #000;
    }
  }
}

/* card style */
.card {
  position: relative;
  border: 1px solid #e6eeef;
  border-top: 2px solid #006064;
  padding: 80px 330px;
  color: #555;
  font-size: 1.8rem;
  letter-spacing: -0.05em;

  &-title {
    font-size: 2rem;
    color: #000;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    font-weight: 700;

    &.first {
      margin-top: 0;
    }

    & + .btn-white {
      margin-top: 0 !important;
    }
  }

  &-desc {
    margin: 15px 0 30px;
    color: #555;
  }

  hr {
    display: block;
    margin: 30px 0;
    border-top: 1px solid #ddd;
  }

  .form-check-group {
    margin-top: 30px;
  }

  .card-bottom-btn {
    position: absolute;
    bottom: -130px;
    right: 0;
  }
}
.card-top {
  padding-top: 74px;
  padding-bottom: 26px;

  .contents-title2 {
    margin-bottom: 0;
    margin-top: 10px;
  }  
}


/* 아코디언 카드스타일 */
.accordion {
  margin-top: 30px;

  > li {
    margin-bottom: 20px;

    .card {
      padding: 30px;
      position: relative;

      label {
        font-weight: 700;
        color: #000;
      }

      .open {
        position: absolute;
        top: 27px;
        right: 30px;

        &::before {
          font-family: "xeicon";
          content: "\e941";
        }
      }
    }
    .card-inner {
      display: none;
      height: 540px;
      overflow: auto;
      background-color: #fafafa;
      border: 1px solid #e6eeef;
      border-top: none;
      padding: 50px 70px;

      pre {
        margin: 0;
        white-space: pre-wrap;
        font-family: "NotoSansKR", sans-serif;
        line-height: 1.6;
        color: #555;

        strong {
          font-weight: 700;
          color: #000;
        }
      }
    }

    &:first-child {
      .card {
        .open::before {
          content: "\e944";
        }
      }

      .card-inner {
        display: block;
      }
    }

    &.is-active {
      &:first-child {
        .card {
          .open::before {
            content: "\e941";
          }
        }
      }

      .card {
        .open {
          &::before {
            content: "\e944";
          }
        }
      }
    }
  }
}

.all-check {
  margin-top: 80px;

  label {
    font-weight: 700;
    color: #000;
    font-size: 1.8rem;
  }
}

/* 회원가입 프로세스 */
.join-process {
  padding: 80px 0 0;

  > li {
    padding-left: 130px;
    height: 110px;
    background: url("../../images/bg_process.gif") 0 -120px no-repeat;
    padding-top: 25px;
    font-size: 2rem;
    color: #666;

    strong {
      display: block;
      font-size: 2.5rem;
      color: #000;
    }

    &:nth-child(2) {
      background-position: -333px -120px;
    }
    &:nth-child(3) {
      background-position: -666px -120px;
    }
    &:nth-child(4) {
      background-position: -998px -120px;
    }

    &.is-active {
      background-position: 1px 0;

      &:nth-child(2) {
        background-position: -333px 0;
      }
      &:nth-child(3) {
        background-position: -666px 0;
      }
      &:nth-child(4) {
        background-position: -998px 0;
      }

      strong {
        color: #006064;
        font-weight: 700;
      }
    }
  }

}

/* 로그인 */
.area-login {
  padding-top: 128px;

  .edge-round img {
    border-radius: 0 0 0 0;
    transition: all 0.5s ease;
  }

  @media (max-width: 1330px) {
    padding-top: 60px;
  }
}

.area-login-form {
  padding-left: 40px;

  .form-login {
    margin-top: 60px;

    .form-control {
      margin-bottom: 20px;
    }
  }

  .btn-login {
    margin-top: 30px;
  }

  .area-login-links {
    margin-top: 40px;
    text-align: center;
    font-size: 0;

    > li {
      display: inline-block;
      padding: 0 18px;
      position: relative;

      > a {
        font-size: 1.8rem;
        color: #555;
      }

      &:first-child {
        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        width: 1px;
        height: 17px;
        background: #ddd;
        position: absolute;
        top: 3px;
        left: 0;
      }

      &.strong {
        > a {
          color: #006064;
          font-weight: 700;
        }
      }
    }
  }

  @media (max-width: 1330px) {
    padding-left: 0;
  }
}

#wrap.intro {
  .area-login {
    .edge-round {
      img {
        border-radius: 0 35% 0 0;
        transition-delay: 0.2s;
      }
    }
  }
}

/* 비밀번호 재설정 */
.area-reset {
  padding-top: 70px;
  background: url("../../images/bg_reset.gif") right 145px no-repeat;
}

/* 이메일 인증 */
.icon-desc {
  text-align: center;
  font-size: 1.8rem;
  color: #555;
  line-height: 1.6;
  letter-spacing: -0.05em;

  &-title {
    font-size: 3rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    padding-top: 100px;
    background: url("../../images/bg_reset_icon.gif") center top no-repeat;
  }

  .strong {
    display: block;
    color: #006064;
    margin-top: 30px;
  }
}

/* 인증번호 입력 컴포넌트 */
.email-auth {
  &-title {
    color: #000;
    font-size: 2rem;
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }

  .auth-timer {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

.btn-auth {
  margin-top: 30px;
}

/* 회원가입 */
.area-join {
  padding-top: 70px;
  background: url(../../images/bg_join.gif) right 145px no-repeat;
}

.form-group.multiple {
  margin-top: 10px;
}

/* 마이페이지 */
.area-mypage {
  padding-top: 70px;

  .contents-title {
    border-bottom: 1px solid #e6eeef;
    padding-bottom: 120px;
  }

  .card {
    .btn-white {
      margin-top: 20px;
    }
  }
  
}

/* 이메일/문자 수신 동의 */
.send-agree {
  position: relative;
  text-align: center;

  &-title {
    color: #000;
    font-size: 3.0rem;    
  }
  &-desc {
    font-size: 1.8rem;
    color: #555;
    padding: 20px 0 40px;
  }
}

.box {
  padding: 40px;
  text-align: left;
  margin-bottom: 40px;

  &.box-gray {
    background-color: #f8f8f8;
  }

  ul,
  ol {
    > li {
      margin-bottom: 20px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.order-list {
      font-size: 1.8rem;
      color: #555;

      strong {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}