@charset "UTF-8";
/*-------------------------------------------------
Author : siin
Create date : 2018-06-27
-------------------------------------------------*/


/* visual */
#visual { position: relative; z-index: 1;}
#visual .bx-controls { position: absolute; top: 50%; right: 66px; margin-top: -66px; z-index: 70; }
#visual .bx-controls .bx-controls-direction {}
#visual .bx-controls .bx-controls-direction a {display: block; width: 66px; height: 66px; font-size:0; background-position:center; background-repeat:no-repeat;}
#visual .bx-controls .bx-controls-direction a.bx-prev {background-image:url("../../images/atd/main/i_mv_arr_w.png"); background-color:#232323;}
#visual .bx-controls .bx-controls-direction a.bx-next {background-image:url("../../images/atd/main/i_mv_arr_b.png"); background-color:#ececec;}

#visual .visual-slide > li .slogan { position: absolute; top: 50%; left: 50%; z-index: 1; color:#fff; margin-left: -276px; margin-top: -84px; text-align:center;}
#visual .visual-slide > li .slogan span { font-size: 3.6rem; opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); position: relative; -webkit-transition: all .75s; transition: all .75s; display: block; font-weight: 300; padding-bottom: 10px;}
#visual .visual-slide > li .slogan strong { display: block; font-size: 4.6rem; margin-bottom: 20px; opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); position: relative; -webkit-transition: all .75s; transition: all .75s; padding: 10px 0 12px;}
#visual .visual-slide > li .slogan span::before, #visual .visual-slide > li .slogan strong::before {content:''; width: 100%; height: 1px; background:rgba(255,255,255,.3); position: absolute; bottom: 0; left: 0;}
#visual .visual-slide > li .slogan p { font-size: 1.7rem; line-height: 1.4; opacity: 0; -webkit-transform: translateX(-30px); transform: translateX(-30px); position: relative; -webkit-transition: all .75s; transition: all .75s; }
#visual .visual-slide > li .bg { width: 100%; height: 575px; overflow: hidden; position: relative; }
#visual .visual-slide > li .bg img {height: 100%; display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) scale(1.1); transform: translate(-50%, -50%) scale(1.1); -webkit-transition: all 5s ease; transition: all 5s ease; }
#visual .visual-slide > li.active .slogan span { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-delay: .5s; transition-delay: .5s; }
#visual .visual-slide > li.active .slogan strong { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-delay: .3s; transition-delay: .3s; }
#visual .visual-slide > li.active .slogan p { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition-delay: .9s; transition-delay: .9s; }
#visual .visual-slide > li.active .bg img { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }



#contents {margin: -35px auto 0; position: relative; z-index: 2; min-height: 1000px; }



.section1 {}
.section1 [class*="col-"] {height: 70px; color:#fff; padding: 26px 40px;}
.section1 .title {font-weight: 600; display: block; float: left; margin-right: 40px;}
.section1 .bx-wrapper {width: 68%; height: 24px; overflow:hidden; float: left;}
.section1 .more {float: right; font-size:0; display: block; width: 19px; height: 19px; position: relative; transition:all .3s linear;}
.section1 .more::before, .section1 .more::after {content:''; width: 100%; height:1px; background:#fff; position: absolute; left: 0; top: 50%;}
.section1 .more::after {transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.section1 .more:hover, .section1 .more:focus {transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.section1 .notice {background:#8e111e;}
.section1 .list li {color:#fff;}
.section1 .data {background:#3f0309;}



.section2 {}
.section2 .container {margin: 48px auto;}
.section2 .list-link {margin: 0 -20px;}
.section2 .list-link li {padding: 0 20px;}
.section2 .list-link li a {display: block; width: 100%;}
.section2 .list-link li a i {display:block; float:left; width: 94px; height: 94px; border:1px solid #e0e0e0; border-radius:50%; background-position:center; background-repeat:no-repeat;}
.section2 .list-link li:nth-child(1) a i {background-image:url("../../images/atd/main/i_section2_1.gif");}
.section2 .list-link li:nth-child(2) a i {background-image:url("../../images/atd/main/i_section2_2.gif"); background-position:30px center;}
.section2 .list-link li:nth-child(3) a i {background-image:url("../../images/atd/main/i_section2_3.gif");}
.section2 .list-link li:nth-child(4) a i {background-image:url("../../images/atd/main/i_section2_4.gif"); background-position:26px center;}
.section2 .list-link li a:hover i {animation:updown .4s ease-in-out alternate; -webkit-animation:updown .4s ease-in-out alternate;}
.section2 .list-link li a .desc {margin-left: 120px; padding-top:5px;}
.section2 .list-link li a strong {font-size:2.2rem; display: block; margin-bottom:15px;}
.section2 .list-link li a p {font-size:1.5rem; color:#888; font-weight: 300;}
@keyframes updown {
  0% {transform:translateY(0);}
  50% {transform:translateY(-10px);}
  100% {transform:translateY(0);}
}
@-webkit-keyframes updown {
  0% {transform:translateY(0);}
  50% {transform:translateY(-10px);}
  100% {transform:translateY(0);}
}



.section3 {background:#90816e;}
.section3 .calendar-area .cal-title {width: 250px;}
.section3 .calendar-area .cal-title h3 {font-family:'NotoSansKR',sans-serif; display:block; width: 74px; height: 74px; background:#212121; text-align:center; padding:12px; float: left;}
.section3 .calendar-area .cal-title h3::before {content:''; width: 0; height: 0; border-top:10px solid #212121; border-right:10px solid transparent; display: block; position: absolute; top: 0; right: -10px;}
.section3 .calendar-area .cal-title .month {margin-left: 150px; display: block; padding-top: 10px;}
.section3 .calendar-area .cal-title .month span {font-size:1.6rem; font-weight: 300; display: inline-block; vertical-align: middle;}
.section3 .calendar-area .cal-title .month em {font-size:4.0rem; font-weight: 400; display: inline-block; vertical-align:middle; margin-left: 10px;}
.calendar-area .arr {width:32px;}
.calendar-area .arr.prev {background:url("../../images/atd/main/cal_arr_prev.png") center no-repeat; margin-left:-360px;}
.calendar-area .arr.next {background:url("../../images/atd/main/cal_arr_next.png") center no-repeat;}
.section3 .calendar-area .cal-list .list > li > a {position: relative;}
.section3 .calendar-area .cal-list .list > li > a:hover::after {content:''; width: 3px; height: 3px; border-radius:50%; background:#fff; position: absolute; top: 15px; left: 50%; margin-left: -2px;}
.section3 .calendar-area .cal-list .list > li .date {font-weight: 300; color:#fff;}
.section3 .calendar-area.type2 .list > li .date.today {color:#2f2f2f; font-weight: 400;}



.section4 {padding: 80px 0 90px;}
.section4 .title {font-size:2.6rem; font-weight: 300; margin-bottom: 35px; display: block;}
.section4 .more {display: inline-block; color:#888; font-style:italic; padding-bottom: 8px; position: absolute;}
.section4 .more::before {content:''; width: 100%; height: 1px; background:#c4c4c4; position: absolute; left: 0; bottom: 0; display: block;}

.section4 .photo {position: relative; margin-bottom: 65px;}
.section4 .photo .gallery {margin: 0 -20px;}
.section4 .photo .gallery::after {content:''; display: block; clear:both;}
.section4 .photo .gallery li {padding:0 20px;}
.section4 .photo .gallery li a {display:block; height: 260px; position: relative; max-width:440px; margin:0 auto;}
.section4 .photo .gallery li a .bg {width: 88.5%; height: 260px; overflow:hidden; z-index: 0; position: absolute; top: 0; right: 0;}
.section4 .photo .gallery li a .bg img {display: block; height: 260px; transition:transform .3s ease; -webkit-transition:transform .5s ease; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%) scale(1); -webkit-transform:translate(-50%, -50%) scale(1);}
.section4 .photo .gallery li:hover a .bg img {transform:translate(-50%, -50%) scale(1.05); -webkit-transform:translate(-50%, -50%) scale(1.05);}
.section4 .photo .gallery li a .desc {width: 230px; height: 128px; z-index: 1; position: absolute; left: 0; bottom: 0; background:#4e6ba6; color:#fff; padding: 20px 24px;}
.section4 .photo .gallery li:nth-child(2) a .desc {background:#5a5f6a;}
.section4 .photo .gallery li:nth-child(3) a .desc {background:#a68c4e}
.section4 .photo .gallery li a .desc .category {font-size:1.5rem; display: inline-block; padding: 5px 10px; border:1px solid rgba(255,255,255,.2); font-weight: 300;}
.section4 .photo .gallery li a .desc .txt {display: block; margin-top: 10px; font-size:1.8rem; letter-spacing:-1px; font-weight: 300;}
.section4 .photo .more {top: 0; right: 0;}

.section4 .cont-bottom {margin:0 -60px;}
.section4 .cont-bottom [class*="col-"] {position: relative; padding:0 60px;}
.section4 .cont-bottom .title {float: left;}
.section4 .cont-bottom .list-board {margin-left: 150px;}
.section4 .cont-bottom .list-board li {margin-bottom: 7px;}
.section4 .cont-bottom .list-board li a {display: block;}
.section4 .cont-bottom .list-board li a .date {font-size:1.5rem; color:#888; display: inline-block; vertical-align:middle; margin-right: 20px;}
.section4 .cont-bottom .list-board li a .txt {display: inline-block; vertical-align:middle; letter-spacing: -1px; max-width:420px; width: 100%; overflow:hidden; font-weight: 300;}
.section4 .cont-bottom .list-board li:hover a .txt {text-decoration:underline;}
.section4 .cont-bottom .more {left: 60px; bottom: 0;}



.section5 {background:url("../../images/atd/main/bg_section5.jpg") center center /cover no-repeat; padding: 80px 0; color:#fff; height: 536px;}
.section5 .cont-left {position:relative;}
.section5 .cont-left::before {content:''; width: 1px; height: 90%; background:rgba(255,255,255,.2); position: absolute; top: 10px; right: 25px;}
.section5 .cont-left::after {content:''; display:block; clear:both;}
.section5 .menu {width: 200px; float: left;}
.section5 .menu li {width:inherit;}
.section5 .menu li a {display:block; width:inherit; height: 50px; border-top:1px solid rgba(255,255,255,.3); color:rgba(255,255,255,.7); font-size:1.8rem; font-weight: 300; padding:12px 17px; transition:all .3s ease; -webkit-transition:all .3s ease;}
.section5 .menu li:last-child a {border-bottom:1px solid rgba(255,255,255,.3);}
.section5 .menu li:hover a {color:#fff;}
.section5 .menu li.active a {color:#fff; background:#8e111e; border-color:#8e111e;}
.section5 .menu li.active + li a {border-top-color:#8e111e;}

.section5 .info {position: relative; margin-left: 274px; width: 66%; min-height:240px;}
.section5 .info::after {content:''; display:block; clear:both;}
.section5 .info li {position: absolute; left: 0; top: 10px; display: none; min-height:240px;}
.section5 .info li::after {content:''; display:block; clear:both;}
.section5 .info li .title {width: 240px; height: 240px; text-align:center; padding: 96px 0; display: block; background-position:center; background-repeat:no-repeat; font-size:2.6rem; float: left;}
.section5 .info li:nth-child(1) .title {background-image:url("../../images/atd/main/i_info1.png");}
.section5 .info li:nth-child(2) .title {background-image:url("../../images/atd/main/i_info2.png");}
.section5 .info li:nth-child(3) .title {background-image:url("../../images/atd/main/i_info3.png");}
.section5 .info li:nth-child(4) .title {background-image:url("../../images/atd/main/i_info4.png");}
.section5 .info li:nth-child(5) .title {background-image:url("../../images/atd/main/i_info5.png");}
.section5 .info li:nth-child(6) .title {background-image:url("../../images/atd/main/i_info6.png");}
.section5 .info li .txt {padding-left: 290px; width: 100%;  color:#d4d4d7;}
.section5 .info li .txt p {font-weight:300; word-break:keep-all; line-height: 1.8; display: block; margin-bottom: 33px; letter-spacing:-1px;}
.section5 .info li .txt span {display: block; font-weight: 300; margin-bottom: 10px;}
.section5 .info li .txt span em {width: 50px; display:inline-block;}
.section5 .info li .txt .link {margin-top: 37px; padding: 10px 18px 10px 0; position: relative; display:inline-block; transition:all .3s ease; -webkit-transition:all .3s ease;}
.section5 .info li .txt .link::before {content:''; width: 0; height: 0; display:block; position:absolute; top:16px; right:5px; border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:4px solid #fff; }
.section5 .info li .txt .link:hover::before {animation:arr .4s ease-in-out infinite alternate; -webkit-animation:arr .4s ease-in-out infinite alternate;}
@keyframes arr {
  0% {right:3px;}
  100% {right: 0;}
}
@-webkit-keyframes arr {
  0% {right:3px;}
  100% {right: 0;}
}
.section5 .info li .txt .link::after {content:''; width: 100%; height:1px; background:#d4d4d7; position: absolute; bottom: 0; left: 0;}
.section5 .info li .txt .link:hover {color:#fff;}

.section5 .link {}
.section5 .link::after {content:''; display: block; clear:both;}
.section5 .link li {width: 50%; float: left;}
.section5 .link li a {display:block; width: 100%; height: 100px; padding-top: 70px; background-position:center 25px; background-repeat:no-repeat; text-align:center;}
.section5 .link li:nth-child(1) a {background-image:url("../../images/atd/main/i_link1.png");}
.section5 .link li:nth-child(2) a {background-image:url("../../images/atd/main/i_link2.png");}
.section5 .link li:nth-child(3) a {background-image:url("../../images/atd/main/i_link3.png"); background-position:center 20px;}
.section5 .link li:nth-child(4) a {background-image:url("../../images/atd/main/i_link4.png");}
.section5 .link li:nth-child(5) a {background-image:url("../../images/atd/main/i_link5.png");}
.section5 .link li:nth-child(6) a {background-image:url("../../images/atd/main/i_link6.png");}



#footer {position: relative; z-index: 2; margin-top: -115px; border:0;}
#footer .container {background:#fff; padding: 35px 40px; }
#footer .container .top {top: -30px; right: 40px;}




@media (max-width: 1400px) {

  #visual .bx-controls {right:15px;}

  .section2 .container {padding: 0 15px;}
  .section2 .list-link li a strong, .section2 .list-link li a p {word-break:keep-all;}
  .section2 .list-link li a p br {display: none;}

  .section3 .container {padding: 0 15px;}
  .section3 .calendar-area .cal-list {padding:0 50px;}


  .section4 .container {padding: 0 15px;}
  .section4 .cont-bottom {margin: 0 -20px;}
  .section4 .cont-bottom [class*="col-"] {padding:0 20px;}
  .section4 .cont-bottom .title {float:none; width: 100%; margin-bottom: 15px;}
  .section4 .cont-bottom .list-board {margin-left: 0;}
  .section4 .cont-bottom .list-board li a .txt {width:calc(100% - 70px); vertical-align:top;}
  .section4 .cont-bottom .more {bottom:inherit; left:inherit; top:0; right:20px;}

  .section5 {padding: 80px 15px;}


}




@media (max-width:1280px){

  .section2 .container {padding: 30px 15px 0; margin: 0;}
  .section2 .list-link {margin:0 -10px;}
  .section2 .list-link li {padding: 0 10px; margin-bottom:30px;}
  .section2 .list-link li a i {float: inherit; margin:0 auto;}
  .section2 .list-link li a .desc {margin-left: 0; text-align:center;}
  .section2 .list-link li a strong {margin-bottom: 7px;}

  .section3 .calendar-area .cal-title {float:inherit; width: 100%; padding:10px 0; border-bottom:1px solid #9e9181; text-align:center;}
  .section3 .calendar-area .cal-title h3 {width: 115px; height:52px; display:inline-block; float:inherit; margin-bottom:0;}
  .section3 .calendar-area .cal-title .month {padding-top:2px; display:inline-block; margin-left: 20px;}
  .section3 .calendar-area .cal-list {padding:0;}
  .calendar-area .arr.prev {margin-left: 0; left: 0;}



}

@media (max-width: 1200px) {

  .section5 {height:inherit; padding: 0;}
  .section5 .cont-left {padding: 50px 15px; min-height:400px;}
  .section5 .cont-left::before {display:none;}
  .section5 .cont-right {background:rgba(0,0,0,.25); padding:50px 15px;}
  .section5 .info {margin-left: 240px; width: 100%;}
  .section5 .info li .txt {width: calc(100% - 240px);}
  .section5 .info li .txt p {font-size:1.6rem;}
  .section5 .info li .txt span {font-size:1.6rem;}
  .section5 .info li .txt .link {margin-top: 27px;}
  .section5 .link li {width: 16.666%;}
  .section5 .link li a {font-size:1.5rem;}


  #footer {margin-top: 0;}
  #footer .container .top {top: -60px;}
}






@media (max-width: 767px) {
  #contents {margin: 0;}

  #visual .bx-controls {display: none;}
  #visual .visual-slide > li {background-position:center; background-size:cover; background-repeat:no-repeat;}
  #visual .visual-slide > li .bg {height: 330px;}
  #visual .visual-slide > li:nth-child(1) {background-image:url('../../images/atd/main/img_mv01_m.jpg');}
  #visual .visual-slide > li:nth-child(2) {background-image:url('../../images/atd/main/img_mv02_m.jpg');}
  #visual .visual-slide > li:nth-child(3) {background-image:url('../../images/atd/main/img_mv03_m.jpg');}
  #visual .visual-slide > li .bg img {display: none;}
  #visual .visual-slide > li .slogan {margin-left:-146px; margin-top:0; top:25px;}
  #visual .visual-slide > li .slogan span {font-size:1.8rem; padding-bottom:7px;}
  #visual .visual-slide > li .slogan strong {font-size:2.3rem; padding:7px 0;}
  #visual .visual-slide > li.active .slogan p {display:none;}

  .section1 [class*="col-"] {height:50px; padding:15px;}
  .section1 .title {font-size:1.5rem; margin-right: 0; width:70px;}
  .section1 .bx-wrapper {position:relative; top:-3px;}
  .section1 .bx-wrapper .list li a {font-size:1.5rem; }

  .section2 .list-link li a strong {font-size:1.7rem;}
  .section2 .list-link li a p {font-size:1.4rem; line-height: 1.5; letter-spacing:-1px;}

  .section3 .calendar-area .cal-title h3 {font-size:1.8rem; width: 95px; height: 46px; vertical-align:middle;}
  .section3 .calendar-area .cal-title .month {padding-top: 0; vertical-align:middle; margin-right:20px;}
  .section3 .calendar-area .cal-title .month em {font-size:2.7rem; margin-left: 5px;}

  .section4 {padding: 40px 0;}
  .section4 .photo {z-index: 1; margin-bottom: 30px;}
  .section4 .photo .gallery {margin: 0;}
  .section4 .photo .gallery li {padding: 0;}
  .section4 .photo .bx-controls {position: absolute; z-index: 2; top: 80px; left: 0;}
  .section4 .photo .bx-controls .bx-pager {line-height:5;}
  .section4 .photo .bx-controls a {position: absolute; left: 50%; margin-left: -15px; width: 30px; height: 30px; font-size:0; display:block;}
  .section4 .photo .bx-controls a::before {content:''; width:20px; height:20px; border-top:1px solid #4c4c4c; border-left:1px solid #4c4c4c; position: absolute; left: 5px;}
  .section4 .photo .bx-controls .bx-prev {top: 0;}
  .section4 .photo .bx-controls .bx-prev::before {transform:rotate(45deg); top: 0;}
  .section4 .photo .bx-controls .bx-next {bottom: 0;}
  .section4 .photo .bx-controls .bx-next::before {transform:rotate(225deg); bottom:0;}

  .section4 .cont-bottom .title {font-size:2.2rem;}
  .section4 .cont-bottom .job {margin-bottom: 30px;}
  .section4 .cont-bottom .list-board li a .date {display:none;}
  .section4 .cont-bottom .list-board li a .txt {width: 100%; font-size:1.5rem;}


  .section5 {z-index: 1;}
  .section5 .menu {display:none;}
  .section5 .info {margin-left: 0; z-index: 1; min-height:470px;}
  .section5 .info li {display: block; top: 0; height:470px !important;}
  .section5 .info li .title {width: 200px; height: 200px; background-size:100%; margin:0 auto; float:none; font-size:2.1rem; padding:80px 0;}
  .section5 .info li .txt {width: 100%; padding-left: 0; clear:left; margin-top:20px;}
  .section5 .info li .txt p {margin-bottom: 15px;}
  .section5 .info li .txt span {margin-bottom: 5px;}
  .section5 .info li .txt .link {width:100%; border:1px solid #9d999d; padding: 15px; text-align:center; margin-top: 25px;}
  .section5 .info li .txt .link::before {top: 22px; right: 50%; margin-right: -60px;}
  .section5 .cont-left {float:none;}
  .section5 .cont-left .bx-wrapper {max-height:460px; overflow:hidden;}
  .section5 .cont-left .bx-controls {position: absolute; top:130px; left:0; z-index: 2; width: 100%;}
  .section5 .cont-left .bx-controls a {position: absolute; top:0; width: 30px; height: 30px; font-size:0; display:block;}
  .section5 .cont-left .bx-controls a::before {content:''; width:20px; height:20px; border-top:1px solid #fff; border-left:1px solid #fff; position: absolute; top: 5px;}
  .section5 .cont-left .bx-controls .bx-prev {left: 15px;}
  .section5 .cont-left .bx-controls .bx-prev::before {transform:rotate(-45deg); right: 0;}
  .section5 .cont-left .bx-controls .bx-next {right: 15px;}
  .section5 .cont-left .bx-controls .bx-next::before {transform:rotate(-225deg); left:0;}
  .section5 .cont-right {float:none;}

  .section5 .link li {width: 33.333%;}

}
