@charset "UTF-8";
/*-------------------------------------------------
Author : siin
Create date : 2018-07-06
-------------------------------------------------*/

/* 공통테이블 */
/* .table-wrap table { position: relative; table-layout: fixed; line-height: 1.4; }
.table-wrap table::before { position: absolute; top: 0; left: 0; width: 100%; height: 1px; background-color: #630c15; content: ""; }
.table-wrap table thead th { border: 1px solid #cecece; background-color: #fafafa; color: #333; padding: 8px 30px; font-size: 1.6rem; }
.table-wrap table thead th:first-child { border-bottom: 0; }
.table-wrap table tbody th { border: 1px solid #cecece; padding: 20px 30px; font-size: 1.5rem; color: #666; }
.table-wrap table tbody td { border: 1px solid #cecece; padding: 20px 30px; font-size: 1.5rem; color: #666; font-weight: 300; }
.table-wrap table tbody td [class^="xi"] { color: #cecece; font-size: 26px; -webkit-transition: all .15s; transition: all .15s; }
.table-wrap table tbody td [class^="xi"]:hover { color: #9b9b9b; }
.table-wrap table tbody td.subject { text-align: left; }
.table-wrap table tbody td.subject > a { display: inline-block; vertical-align: middle; }
.table-wrap table tbody td.subject > a:hover { text-decoration: underline; }
.table-wrap table tbody td.subject > a.ellipsis { max-width: 90%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.table-wrap table tbody td .inner-table thead th { background-color: #018b86; color: #fff; text-align: center; }
.table-wrap table tbody td .inner-table tbody th { text-align: center; }
.table-wrap table.field tbody th { background-color: #f6f6f6; text-align: left; color: #018b86; font-size: 1.8rem; }
.table-wrap table.field tbody th .essential { position: relative; }
.table-wrap table.field tbody th .essential::before { content: "*"; color: #ff6136; font-size: 16px; font-weight: 400; position: absolute; top: 0; left: -15px; }
.table-wrap table.vert-top tbody th, .table-wrap table.vert-top tbody td { vertical-align: top; }
.table-wrap table.side-open thead th:first-child { border-left: 0; border-bottom: 0; }
.table-wrap table.side-open thead th:last-child { border-right: 0; }
.table-wrap table.side-open tbody th:first-child, .table-wrap table.side-open tbody td:first-child { border-left: 0; }
.table-wrap table.side-open tbody th:last-child, .table-wrap table.side-open tbody td:last-child { border-right: 0; }
.table-wrap table.all-open thead th { border-width: 0 0 1px 0; }
.table-wrap table.all-open thead th:first-child { border-bottom: 1px solid #cecece; }
.table-wrap table.all-open tbody th, .table-wrap table.all-open tbody td { border-width: 0 0 1px 0; }
.table-wrap .note { padding: 15px; font-size: 1.4rem; color: #666; }
.table-wrap .note strong { color: #15938e; font-weight: 400; }
.table-wrap.scroll { overflow: auto; }
.table-wrap.scroll table { min-width: 700px; } */


#spot {height:300px; background:url('../../images/type2/sub/img_sv.jpg')center top /cover no-repeat; position:relative;}
#spot .snb-title {display:block; margin-top: 100px;}
#spot .snb-title strong {font-size:4.6rem; color:#fff; display:inline-block; vertical-align:middle; font-weight:300; margin-right: 20px;}
#spot .snb-title p {font-size:2rem; color:rgba(255,255,255,.7); display:inline-block; font-weight: 300;}


#snb {z-index: 1; position: absolute; width: 100%; height: 0;}
#snb nav {position:relative; top:-60px; left:0; width:100%;}
#snb nav::before {content:''; width:100%; height:60px; background:#3f0309; position:absolute; top:0; left:0;}
#snb nav .depth1 {width: 100%; position: relative;}
#snb nav .depth1::after, #snb nav .depth2::after {content:''; display:block; clear:both;}
#snb nav .depth1 > li {float:left; }
#snb nav .depth1 > li > a {display:block; height:60px; color:#fff; padding: 20px 30px; font-size:1.8rem; position: relative;}
#snb nav .depth1 > li > a::before {content:''; width:1px; height:12px; background:#9b7c7f; position:absolute; top:25px; left:0;}
/* #snb nav .depth1 > li:hover > a {text-decoration:underline;} */
#snb nav .depth1 > li.active > a {background:#fff; color:#3f0309; font-weight: 700;}
#snb nav .depth1 > li.active > a::before, #snb nav .depth1 > li.active + li > a::before {display:none;}
#snb nav .depth1 > li:first-child > a::before {display:none;}
#snb nav .depth1 > li .depth2 {position:absolute; width:100%; height: 61px; top:60px; left:0; background:#fff; border:1px solid #d6d6db; border-top:0; opacity:0; visibility:hidden; }
#snb nav .depth1 > li.active .depth2 {opacity:1; visibility:visible;}
#snb nav .depth1 > li .depth2 > li {float:left; padding: 0 50px;}
#snb nav .depth1 > li .depth2 > li > a {display:inline-block; padding: 20px 0; position:relative; font-size:1.7rem; color:#666;}
#snb nav .depth1 > li .depth2 > li > a::before {content:''; width: 100%; height: 4px; background:#8e111e; position:absolute; bottom:0; left:0; opacity:0; transition:all .3s ease;}
#snb nav .depth1 > li .depth2 > li.active > a::before, #snb nav .depth1 .depth2 > li:hover > a::before {opacity:1;}


#contents {min-height:500px; margin-bottom: 100px;}
.cont-top {margin:120px 0 0; text-align:center; position:relative;}
.cont-top .title {font-size:4rem; margin-bottom: 55px;}
.cont-top .path {position:absolute; top:10px; right:0; font-size:1.5rem; color:#888;}
.cont-top .path > * {display:inline-block; position:relative; margin-left:20px; vertical-align:middle; font-weight: 300;}
.cont-top .path > *::before {content:''; width: 5px; height: 5px; border-top:1px solid #a7a7a7; border-left:1px solid #a7a7a7; position:absolute; left:-14px; top:7px; transform:rotate(135deg);}
.cont-top .path span {border:1px solid #e5e5e5; border-radius:50%; width: 25px; height: 25px; text-align:center; padding-top: 2px;}
.cont-top .path span::before {display:none;}
.cont-top .path strong {font-weight: 400;}


/* 교수소개 */
.professor-info .more {background-color:#5a5f6a;}





@media(max-width: 1400px) {
  #main .container {padding: 0 15px;}
  #spot {height: 200px;}
  #spot .snb-title {margin-top: 65px;}
  #snb {display:none;}
  .cont-top {margin: 55px 0;}
  .cont-top .path {display:none;}

}



@media(max-width: 767px) {
  #spot {display:none;}
  .cont-top {margin: 25px 0 0; }
  .cont-top .title {font-size:2.5rem; margin-bottom: 25px;}
}
