@charset "utf-8";
/*-------------------------------------------------
Author : siin
Create date : 2018-07-09
중부대학교 항공관광학부
-------------------------------------------------*/


/* 학부소개 */
.total-intro .goal-list {margin: -40px -40px 70px;}
.total-intro .goal-list > li .inner {background: url("../../images/atd/sub/bg_goal1.jpg") center top no-repeat; padding: 200px 50px 0; position:relative;}
.total-intro .goal-list > li:nth-child(2) .inner {background: url("../../images/atd/sub/bg_goal2.jpg") center top no-repeat;}
.total-intro .goal-list > li .inner .title {position:absolute; top: 40px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); color:#fff; text-align:center; width: 82%; padding: 0 5%;}
.total-intro .goal-list > li .inner .title strong {font-size:3.0rem; padding-bottom: 20px; display: block;}
.total-intro .goal-list > li .inner .title p {font-size:2.0rem; word-break:keep-all; line-height: 1.56;}
.total-intro .goal-list > li .inner .txt {border:0;}
.total-intro .goal-list > li .inner .txt .desc {padding: 40px 25px;}
.total-intro .goal-list > li .inner .txt .desc p {text-align:center;}
.total-intro .card-list > li .card {height:130px;}


/* 전공소개 */
.depart-intro.depart1 .introduce {background: url("../../images/atd/sub/bg_depart1.jpg") center top no-repeat;}
.depart-intro.depart2 .introduce {background: url("../../images/atd/sub/bg_depart2.jpg") center top no-repeat;}
.depart-intro.depart3 .introduce {background: url("../../images/atd/sub/bg_depart3.jpg") center top no-repeat;}
.depart-intro.depart4 .introduce {background: url("../../images/atd/sub/bg_depart4.jpg") center top no-repeat;}

.depart-intro.depart1 .card-list > li .card {height: 170px;}
.depart-intro.depart3 .card-list > li .card {height: 160px;}
.depart-intro.depart4 .card-list > li .card {height: 170px;}



@media (max-width:767px) {
  /* 메인비주얼 */
  #visual .visual-slide > li:nth-child(1) {background-image:url('../../images/atd/main/img_mv01_m.jpg');}
  #visual .visual-slide > li:nth-child(2) {background-image:url('../../images/atd/main/img_mv02_m.jpg');}


  .total-intro .goal-list > li .inner .title {width: 100%;}
  .total-intro .goal-list > li .inner .title p {font-size:1.7rem;}
}
