@charset "UTF-8";
/*-------------------------------------------------
Author : 김지만
Create date : 2018-07-09
중부대학교 공연예술학부
-------------------------------------------------*/
#visual .visual-slide > li .slogan span,
#visual .visual-slide > li .slogan strong,
#visual .visual-slide > li .slogan .desc{color:#fff;}
#visual .visual-slide > li .slogan .desc::after{background-color: #fff;}
#visual .bx-pager .bx-pager-item .bx-pager-link::before{border-color:#fff;}
#visual .bx-pager .bx-pager-item .bx-pager-link.active::before{background-color: #fff;}
#contents .section1 .cont-top .shortcut .photo{background:url("../../images/pad/main/bg_depart-intro.jpg") 0 0 no-repeat}
#contents .section2 .intro .object {position: absolute; bottom: 0; right: -120px;}

.total-intro .summary{background: url(../../images/pad/sub/bg_summary.jpg) right top no-repeat; height:300px;}
.total-intro .goal-list > li{min-height: 490px;}
.total-intro .goal-list > li:nth-child(1) .inner{background-image: url(../../images/pad/sub/bg_goal1.jpg);}
.total-intro .goal-list > li:nth-child(2) .inner{background-image: url(../../images/pad/sub/bg_goal2.jpg);}
.total-intro .goal-list > li:nth-child(3) .inner{background-image: url(../../images/pad/sub/bg_goal3.jpg);}
.total-intro .goal-list > li:nth-child(4) .inner{background-image: url(../../images/pad/sub/bg_goal4.jpg);}
.total-intro .goal-list > li:nth-child(5) .inner{background-image: url(../../images/pad/sub/bg_goal5.jpg);}

.depart-intro.depart1 .introduce { background-image: url(../../images/pad/sub/bg_depart1.jpg); }
.depart-intro .card-list > li .card{height:200px;}
.depart-intro.depart2 .introduce { background-image: url(../../images/pad/sub/bg_depart2.jpg); }

@media(max-width:767px){
  #contents .section2 .intro .object{right:15px;}
}
