@charset "utf-8";
/*-------------------------------------------------
Author : siin
Create date : 2018-07-09
중부대학교 경찰경호학부
-------------------------------------------------*/

/* 메인 */
.section5 {background:url("../../images/pgd/main/bg_section5.jpg") center center /cover no-repeat}
.section5 .info li:nth-child(1) .title {background-image:url("../../images/pgd/main/i_info2.png");}
.section5 .info li:nth-child(2) .title {background-image:url("../../images/pgd/main/i_info1.png");}
.section5 .info li:nth-child(3) .title {background-image:url("../../images/pgd/main/i_info3.png");}



/* 학부소개 */
.total-intro .goal-list {margin: 0 0 60px;}
.total-intro .goal-list .inner {background:url("../../images/pgd/sub/bg_goal1.jpg") center top no-repeat; padding:210px 50px 0; position:relative;}
.total-intro .goal-list .inner .title {position:absolute; top:85px; left:0; text-align:center; color:#fff; width: 100%; padding: 0 15%; font-size:3.0rem; word-break:keep-all; line-height: 1.5;}
.total-intro .goal-list .inner .txt {border:0; background:#fff; padding:30px 0; text-align:center;}
.total-intro .goal-list .inner .txt .desc {font-size:1.8rem; font-weight:300; padding: 0 15px; word-break:keep-all;}
.total-intro .card-list > li .card {height: 260px;}


/* 전공소개 */
.depart-intro.depart1 .introduce {background: url("../../images/pgd/sub/bg_depart1.jpg") center top no-repeat;}
.depart-intro.depart2 .introduce {background: url("../../images/pgd/sub/bg_depart2.jpg") center top no-repeat;}
.depart-intro.depart3 .introduce {background: url("../../images/pgd/sub/bg_depart3.jpg") center top no-repeat;}

.depart-intro.depart1 .introduce .list.dot {margin-top: 30px;}

.depart-intro.depart1 .card-list > li .card {height: 170px;}
.depart-intro.depart2 .card-list > li .card {height: 130px;}
.depart-intro.depart3 .card-list > li .card {height: 260px;}



@media (max-width:767px) {
  /* 메인비주얼 */
  #visual .visual-slide > li:nth-child(1) {background-image:url('../../images/pgd/main/img_mv01_m.jpg');}
  #visual .visual-slide > li:nth-child(2) {background-image:url('../../images/pgd/main/img_mv02_m.jpg');}


}
