@charset "UTF-8";
/*-------------------------------------------------
Author : 김지만
Create date : 2018-07-09
중부대학교 공연예술학부
-------------------------------------------------*/
#contents .section1 .cont-top .shortcut .photo{background:url("../../images/bfd/main/bg_depart-intro.jpg") 0 0 no-repeat}
#contents .section2 .intro .object {bottom: 0;}

.total-intro .summary{background: url(../../images/swd/sub/bg_summary.jpg) right top no-repeat;}

/* 학부소개 */
.total-intro .row{display:table; width:100%; margin:50px 0;}
.total-intro .box-title{width:17%; display:table-cell; vertical-align:middle; color:#fff; text-align: center; font-size:1.8rem; font-weight: 400;}
.total-intro .box-title span{background-color: #ab3d4a; display:inline-block; vertical-align:middle; width:100%; height:60px; line-height: 60px;}
.total-intro .cont{font-size:2.0rem; color:#333; text-align: center; line-height: 60px; padding-left:70px;}
.total-intro .cont p{position: relative;}
.total-intro .cont p::before{content: ""; width: 10px; height: 10px; border-width: 1px 1px 0 0; background-color: #fff; position: absolute; bottom: -29px; left: 50%; border-color: #ab3d4a; border-style: solid; transform: rotate(-45deg); z-index: 1; margin-left:-5px;}
.total-intro .cont p::after{width:100%; height:1px; background-color: #ab3d4a; content:""; position: absolute; bottom:-25px; left:0;}

.total-intro .list.circle{width:100%; font-size:0;}
.total-intro .list.circle>li{width:33.3333%; display:inline-block; vertical-align:middle; font-size:2.0rem; position: relative;}
.total-intro .list.circle>li::before{content: ""; width: 10px; height: 10px; border-width: 1px 1px 0 0; background-color: #fff; position: absolute; bottom: -29px; left: 50%; border-color: #ab3d4a; border-style: solid; transform: rotate(-45deg); z-index: 1; margin-left:-5px;}
.total-intro .list.circle>li::after{width:90%; height:1px; background-color: #ab3d4a; content:""; position: absolute; bottom:-25px; left:50%; transform:translateX(-50%);}
.total-intro .list.circle>li span{width:140px; height:140px; border-radius:50%; background-color: #90816e; color:#fff; display:inline-block; padding:20px; line-height: 1.4; padding: 40px 33px;}

.total-intro .list.square{width:100%; font-size:0;}
.total-intro .list.square>li{width:33.3333%; display:inline-block; vertical-align:middle; font-size:2.0rem; padding:0 15px;}
.total-intro .list.square>li span{width:100%; background-color: #90816e; color:#fff; display:inline-block; padding:20px; line-height: 1.4; padding: 40px 33px; vertical-align:middle; font-size:1.6rem; font-weight: 300;}

.total-intro .list>li:nth-child(2) span{background-color: #5a5f6a;}
.total-intro .list>li:nth-child(3) span{background-color: #4e6ba6;}

.total-intro .goal-list > li{min-height: 490px;}
.total-intro .goal-list > li:nth-child(1) .inner{background-image: url(../../images/swd/sub/bg_goal1.jpg);}
.total-intro .goal-list > li:nth-child(2) .inner{background-image: url(../../images/swd/sub/bg_goal2.jpg);}
.total-intro .goal-list > li:nth-child(3) .inner{background-image: url(../../images/swd/sub/bg_goal3.jpg);}
.total-intro .goal-list > li:nth-child(4) .inner{background-image: url(../../images/swd/sub/bg_goal4.jpg);}
.total-intro .goal-list > li:nth-child(5) .inner{background-image: url(../../images/swd/sub/bg_goal5.jpg);}

.depart-intro.depart1 .introduce { background-image: url(../../images/swd/sub/bg_depart1.jpg); }
.depart-intro .card-list > li .card{height:200px;}
.depart-intro.depart2 .introduce { background-image: url(../../images/swd/sub/bg_depart2.jpg); }



@media(max-width:992px){
  .total-intro .cont{padding-left:35px;}
}

@media(max-width:767px){
  .total-intro .cont{padding-left:0; line-height: 1.6;}
  .total-intro .box-title{width:100%; display:block;}

  .total-intro .list.circle>li{width:100%; display:block; margin-bottom:50px;}
  .total-intro .list.square>li{width:100%; display:block; margin-bottom:30px;}
}
